.header {
  background-color: #f1f1f1;
  padding: 20px;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

li {
  list-style: none;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #333;
}

.info-hospital {
  display: flex;
}