.info-hospital {
  display: flex;
  gap: 10px;
}

.info-hospital .col-md-6 .card {
  gap: 10px;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info-hospital .col-md-6 .card li {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
}

.info-hospital .col-md-6 .card h3 {
  font-size: 16px;
}